/* This file contains styles for "shared" elements on each page */
/* ... */
/* ... */
/* ... */

/* Importing fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap");

/* Reseting some defualt properties for all elements */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    /* Colours */
    --text: 7, 19, 29;
    --background: 251, 252, 254;
    --primary: 58, 133, 207;
    --secondary: 213, 148, 229;
    --accent: 219, 107, 199;

    /* Gradient colours */
    --linearPrimarySecondary: linear-gradient(to right, #3a85cf, #d594e5);
    --linearPrimaryAccent: linear-gradient(to right, #3a85cf13, #db6bc713);
    --linearSecondaryAccent: linear-gradient(#d594e5, #db6bc7);
    --radialPrimarySecondary: radial-gradient(#3a85cf, #d594e5);
    --radialPrimaryAccent: radial-gradient(#3a85cf, #db6bc7);
    --radialSecondaryAccent: radial-gradient(#d594e5, #db6bc7);
    --headerSection: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 65%,
            rgb(var(--background))
        ),
        var(--linearPrimaryAccent);
}

/* Apply new basic styles */
html {
    font-size: 16px;
    scroll-behavior: smooth;
}

a {
    color: rgba(7, 19, 29, 1);
    text-decoration: none;
}

ul {
    list-style-type: none;
}

section,
footer,
header {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Fonts setup */
body {
    font-family: "Roboto";
    font-weight: 400;
    color: rgb(var(--text));
    background-color: rgb(var(--background));
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Sansita";
    font-weight: 700;
    text-align: center;
}

h1 {
    font-size: 4.21rem;
}

h2 {
    font-size: 3.158rem;
}

h3 {
    font-size: 2.369rem;
}

h4 {
    font-size: 1.777rem;
}

h5 {
    font-size: 1.333rem;
}

small {
    font-size: 0.75rem;
}

/* Reusable classes */
.container {
    max-width: 1220px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.btn {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;

    cursor: pointer;
    transition: all 0.2s ease;

    &.btn-primary {
        background-color: rgba(var(--primary), 0.3);
        border-color: rgba(var(--primary), 0.3);

        &:hover {
            background-color: transparent;
            color: rgb(var(--primary));
        }
    }
    &.btn-sec {
        background-color: rgba(var(--secondary), 0.3);
        border-color: rgba(var(--secondary), 0.3);

        &:hover {
            background-color: transparent;
            color: rgba(var(--secondary), 1);
        }
    }
    &.btn-accent {
        background-color: rgba(var(--accent), 0.3);
        border-color: rgba(var(--accent), 0.3);

        &:hover {
            background-color: transparent;
            color: rgba(var(--accent), 1);
        }
    }
}

.card {
    max-width: 400px;
    height: max-content;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    background-color: rgba(var(--primary), 0.05);
    border-radius: 1rem;
}

/* Navigation bar */
.nav {
    width: 100vw;
    min-height: 55px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgb(var(--background));
    /* Border */
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.1);
    z-index: 10000;
}

.nav_inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav-logo {
    height: 55px;
    font-size: 1.16rem;
    font-weight: 700;
    user-select: none;
    display: flex;
    align-items: center;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 24px;
}

.nav-item:hover {
    color: #687077;
    transition: color 0.2s linear;
}

.nav .btn {
    padding-left: 12px;
    padding-right: 12px;
}

/* Burger burger */
.burger {
    --s: 30px; /* control the size */
    --c: #07131d; /* the color */

    display: none;

    height: var(--s);
    aspect-ratio: 1;
    border: none;
    padding: 0;
    border-inline: calc(var(--s) / 2) solid #0000;
    box-sizing: content-box;
    --_g1: linear-gradient(var(--c) 20%, #0000 0 80%, var(--c) 0) no-repeat
        content-box border-box;
    --_g2: radial-gradient(
            circle closest-side at 50% 12.5%,
            var(--c) 95%,
            #0000
        )
        repeat-y content-box border-box;
    background: var(--_g2) left var(--_p, 0px) top,
        var(--_g1) left calc(var(--s) / 10 + var(--_p, 0px)) top,
        var(--_g2) right var(--_p, 0px) top,
        var(--_g1) right calc(var(--s) / 10 + var(--_p, 0px)) top;
    background-size: 20% 80%, 40% 100%;
    position: relative;
    clip-path: inset(0 25%);
    mask: linear-gradient(90deg, #0000, #000 25% 75%, #0000);
    cursor: pointer;
    transition: background-position 0.3s var(--_s, 0.3s),
        clip-path 0s var(--_s, 0.6s);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.burger:before,
.burger:after {
    content: "";
    position: absolute;
    border-radius: var(--s);
    inset: 40% 0;
    background: var(--c);
    transition: transform 0.3s calc(0.3s - var(--_s, 0.3s));
}

.burger:checked {
    clip-path: inset(0);
    --_p: calc(-1 * var(--s));
    --_s: 0s;
}

.burger:checked:before {
    transform: rotate(45deg);
}

.burger:checked:after {
    transform: rotate(-45deg);
}

.burger:focus-visible {
    clip-path: none;
    mask: none;
    border: none;
    outline: 2px solid var(--c);
    outline-offset: 5px;
}

/* Footer section */
.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(var(--background));
    padding: 60px 0;
}

.footer_inner {
    display: flex;
    flex-direction: column;
    background-color: #eef0f2;
    border-radius: 10px;
    padding: 48px 80px;
    gap: 2rem;
}

.footer-logo {
    font-size: 1.16rem;
    font-weight: 700;
    user-select: none;
}

.footer-content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 3em;
}

.footer-col {
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer-col-topic {
    text-transform: uppercase;
    color: rgba(var(--text), 0.5);
}

.footer-col-item {
    white-space: nowrap;

    &:hover {
        color: #687077;
        transition: color 0.2s linear;
    }

    &.link {
        text-decoration: underline;
    }
}

.footer hr {
    width: 100%;
    border-top: solid 1px rgb(var(--text));
    opacity: 0.1;
}

@media only screen and (max-width: 600px) {
    /* Navigation */
    .nav-items {
        display: none;
        order: 2;
        flex-direction: column;
        width: 100%;
        padding: 10px;
        &.active {
            display: flex;
        }
    }

    .burger {
        display: flex;
        order: 1;
    }

    /* Footer */
    .footer {
        padding: 60px 10px;
        padding-bottom: 10px;
    }

    .footer_inner {
        padding: 30px;
    }

    .footer-content {
        flex-direction: column;
    }
}
